<div class="main_container d-flex">
  <div class="sidebar d-flex border">
    <div class="first mx-3">
    <%= form_with model:@spot,url:spots_path,local:true do |f| %>
      <div class="mt-3">
        <%= f.label:名称,class:"label" %>
        <%= f.text_field:name,class:"form-control",placeholder:"名称を入力" %>
      </div>
      <div class="mt-3">
        <%= f.label:コート,class:"label" %><br>
        <%= f.radio_button:court_type,"オムニ" %>
        <%= f.label:court_type,"オムニ",value:"オムニ" %>
        <%= f.radio_button:court_type,"ハード" %>
        <%= f.label:court_type,"ハード",value:"ハード" %>
        <%= f.radio_button:court_type,"クレイ" %>
        <%= f.label:court_type,"クレイ",value:"クレイ" %>
      </div>
      <div class="mt-3">
        <%= f.label:運営,class:"label" %><br>
        <%= f.select:operation,[["都営","都営"],["市営","市営"],["区営","区営"],["県営","県営"],["公営","公営"],["民営","県営"]],include_blank:"選択してください",class:"form-control" %><br>
      </div>
      <div class="mt-3">
        <%= f.label:詳細,class:"label" %><br>
        <%= f.text_area:body,class:"form-control" %>
      </div>
      <div class="mt-3">
        <%= f.label:経度緯度,class:"label" %>
        <%= f.number_field:latitude,id:"lat",value:35.6585,readonly: true,class:"form-control" %>
        <%= f.number_field:longitude,id:"lng",value:139.7486,readonly: true,class:"form-control" %>
      </div>
      <%= f.submit "登録",class:"mt-3 btn btn-primary" %>
    <% end %>
    </div>
    <div class="second d-flex flex-wrap">
      <div class="icon w-100 h-25 pt-5 text-center rounded shadow-sm"><%= link_to root_path do %><i class="fas fa-search fa-2x"></i><% end %></div>
      <div class="icon w-100 h-25 pt-5 text-center rounded shadow-sm"><i class="fas fa-heart fa-2x"></i></div>
      <div class="icon w-100 h-25 pt-5 text-center rounded shadow-sm"><i class="fas fa-plus fa-2x"></i></div>
      <div class="icon w-100 h-25 pt-5 text-center rounded shadow-sm"><i class="fas fa-user fa-2x"></i></div>
    </div>
  </div>

  <div class="mainbar">
    <!-- 地名入力用のinputを追加 -->
    <input id="address" type="textbox" value="東京都品川区">
    <!-- buttonをクリックしたらcodeAddressを実行　-->
    <input type="button" value="検索" onclick="codeAddress()">
    <div id="map"></div>
  </div>
</div>
<script>
  let map;
  let geocoder;
    function initMap() {
      geocoder = new google.maps.Geocoder()
      // マップの初期化
      map=new google.maps.Map(document.getElementById("map"),{
      zoom:10,
      center: { lat: 35.6585, lng: 139.7486 },
      mapId: "1b786f15acc7b7be",
      });
            // クリックイベントを追加
      map.addListener('click', function(e) {
        getClickLatLng(e.latLng, map);
      });
    }
    function getClickLatLng(lat_lng, map) {
      // 座標を表示
      document.getElementById('lat').value=lat_lng.lat();
      document.getElementById('lng').value=lat_lng.lng();
      // マーカーを設置
      marker = new google.maps.Marker({
        position: lat_lng,
        map: map,
      });
      // 座標の中心をずらす
      // http://syncer.jp/google-maps-javascript-api-matome/map/method/panTo/
      map.panTo(lat_lng);
    }
    function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>