<div class="container">
  <div class="ml-3">
  <%= link_to "戻る",root_path,class:"btn btn-danger" %>
  </div>
  <div class="row m-3">
    <div class="col-lg-6 p-2 bg-light border rounded">
      <p class="mt-3">名称<p>
      <div class="border rounded p-2"><%= @spot.name %></div>
      <p class="mt-3">住所<p>
      <div class="border rounded p-2"><%= @spot.address %></div>
      <p class="mt-3">コート<p>
      <div class="border rounded p-2"><%= @spot.court_type %></div>
      <p class="mt-3">運営<p>
      <div class="border rounded p-2"><%= @spot.operation %></div>
      <p class="mt-3">詳細<p>
      <div class="border rounded p-2"><%= @spot.body %></div>
    </div>
  </div>
</div>