<!DOCTYPE html>
<html>
  <head>
    <title>GooglemapPra2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/12120b9d9d.js" crossorigin="anonymous"></script>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><%= image_tag("logo-icon.png") %><i class="font-weight-bold">Playing Tennis!</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><span class="nav-link">ログアウト</span></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="bg-light">
    </footer>

  </body>
</html>
